In [3]:
import osmnx as ox
import networkx as nx
import numpy as np
import cv2
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
streettypes = [
 'secondary', 
 'residential', 
 'living_street', 
 'service',  
 'tertiary',
 'secondary_link', 
 'unclassified'
 ]

street_width = {
 'secondary' : 5, 
 'residential' : 2, 
 'living_street' : 1, 
 'service' : 1,
 'tertiary' : 3,
 'secondary_link' : 1, 
 'unclassified' : 3
 }

street_colors = {
 'secondary' : "#638bb0FF", 
 'residential' : "red", 
 'living_street' :  "red", 
 'service' :  "red", 
 'tertiary' :  "green",
 'secondary_link' :  "blue", 
 'unclassified' : "green"
 }

In [20]:
df1=pd.DataFrame.from_dict(street_width, orient='index', columns=['street_width'])
df1

                street_width
secondary                  5
residential                2
living_street              1
service                    1
tertiary                   3
secondary_link             1
unclassified               3

In [21]:
df2=pd.DataFrame.from_dict(street_colors, orient='index', columns=['street_colors'])
df2

               street_colors
secondary          #638bb0FF
residential              red
living_street            red
service                  red
tertiary               green
secondary_link          blue
unclassified           green

In [23]:
dfjoined=df1.join(df2)
dfjoined

                street_width street_colors
secondary                  5     #638bb0FF
residential                2           red
living_street              1           red
service                    1           red
tertiary                   3         green
secondary_link             1          blue
unclassified               3         green

In [25]:
dfjoined.to_pickle("pdexport")

In [27]:
import json
result = dfjoined.to_json(orient="index")
parsed = json.loads(result)
with open('config.json', 'w') as f:
    f.write(json.dumps(parsed, indent=4))

In [30]:
readdf = None
with open('config.json', 'r') as f:
    readdf = pd.read_json(f.read(), orient='index')
readdf

                street_width street_colors
secondary                  5     #638bb0FF
residential                2           red
living_street              1           red
service                    1           red
tertiary                   3         green
secondary_link             1          blue
unclassified               3         green

In [31]:
list(readdf.index.values)

['secondary',
 'residential',
 'living_street',
 'service',
 'tertiary',
 'secondary_link',
 'unclassified']

In [32]:
readdf["street_width"]["secondary"]

5